<dialog id="pengaturan" class="mdl-dialog newnewmodal" >
     <button class="mdl-button mdl-js-button mdl-button--icon modal_button" ng-click="hideDialog('pengaturan')">
      <i class="material-icons">close</i>
    </button>
    <div class="backdrop" ng-click="hideDialog('pengaturan')">
    </div>
    <div class="modal__modal" style="width: 300px;">
     <h2 class="g-modal-title-h1 sc-truncate">Pengaturan</h2>

     <div class="profileSettings__form">
       <div class="sc-media">
           <div class="menu-profile">
               <div class="mdl-tabs__tab-bar" style="border:none;">
                   <button class="mdl-button mdl-js-button mdl-button--primary" style="width:100%;font-weight: normal;text-transform: none;text-align:left" ng-click="hapuspengaturan(9)">
                     <i class="material-icons iconbutton">local_hospital</i>
                    Hapus semua klinik
                  </button>
              </div>
               <div class="mdl-tabs__tab-bar" style="border:none;">
                   <button class="mdl-button mdl-js-button mdl-button--primary" style="width:100%;font-weight: normal;text-transform: none;text-align:left" ng-click="hapuspengaturan(1)">
                     <i class="material-icons iconbutton">person</i>
                    Hapus semua pasien
                  </button>

              </div>
                <div class="mdl-tabs__tab-bar" style="border:none;">
                   <button class="mdl-button mdl-js-button mdl-button--primary" style="width:100%;font-weight: normal;text-transform: none;text-align:left" ng-click="hapuspengaturan(2)">
                     <i class="material-icons iconbutton">people</i>
                    Hapus semua dokter
                  </button>
              </div>
                <div class="mdl-tabs__tab-bar" style="border:none;">
                   <button class="mdl-button mdl-js-button mdl-button--primary" style="width:100%;font-weight: normal;text-transform: none;text-align:left" ng-click="hapuspengaturan(3)">
                     <i class="material-icons iconbutton">group</i>
                    Hapus semua pegawai
                  </button>
              </div>
                <div class="mdl-tabs__tab-bar" style="border:none;">
                   <button class="mdl-button mdl-js-button mdl-button--primary" style="width:100%;font-weight: normal;text-transform: none;text-align:left" ng-click="hapuspengaturan(7)">
                     <i class="material-icons iconbutton">account_balance_wallet</i>
                    Hapus semua asuransi
                  </button>
              </div>

                <div class="mdl-tabs__tab-bar" style="border:none;">
                   <button class="mdl-button mdl-js-button mdl-button--primary" style="width:100%;font-weight: normal;text-transform: none;text-align:left" ng-click="hapuspengaturan(10)">
                     <i class="material-icons iconbutton">attach_money</i>
                    Reset data keuangan
                  </button>
              </div>

                <div class="mdl-tabs__tab-bar" style="border:none;">
                   <button class="mdl-button mdl-js-button mdl-button--primary" style="width:100%;font-weight: normal;text-transform: none;text-align:left" ng-click="hapuspengaturan(8)">
                     <i class="material-icons iconbutton">report</i>
                    Hapus semua laporan
                  </button>
              </div>
               <div class="mdl-tabs__tab-bar" style="border:none;">
                   <button class="mdl-button mdl-js-button mdl-button--primary" style="width:100%;font-weight: normal;text-transform: none;text-align:left" ng-click="hapuspengaturan(4)">
                     <i class="material-icons iconbutton">equalizer</i>
                    Reset analitik klinik
                  </button>
              </div>
                <div class="mdl-tabs__tab-bar" style="border:none;">
                   <button class="mdl-button mdl-js-button mdl-button--primary" style="width:100%;font-weight: normal;text-transform: none;text-align:left" ng-click="hapuspengaturan(5)">
                     <i class="material-icons iconbutton">show_chart</i>
                    Reset analitik dokter
                  </button>
              </div>
                 <div class="mdl-tabs__tab-bar" style="border:none;">
                   <button class="mdl-button mdl-js-button mdl-button--primary" style="width:100%;font-weight: normal;text-transform: none;text-align:left" ng-click="hapuspengaturan(6)">
                     <i class="material-icons iconbutton">restore</i>
                    Reset semua pengaturan
                  </button>
              </div>
            </div>
       </div>

     
     </div>

    </div>

</dialog>




